nav {
	border-block-end: 1px solid gray;
}

.links {
	display: flex;
	gap: 8px;
	background-color: black;
	padding-block: 12px;
	padding-inline: 16px;
}

a {
	text-decoration: none;
	padding-inline: 12px;
	border-radius: 4px;
	outline: 2px solid transparent;
	transition: all ease-in-out 150ms;
}

a:hover {
	outline: 2px solid white;
	text-decoration: none;
}

a:visited {
	color: white;
}

main {
	padding-block-start: 20px;
}
