.crafting_table {
	display: flex;
	width: 650px;
	align-items: center;
	justify-content: space-between;
}

.recipe {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	width: min-content;
	gap: 4px;
	background-color: var(--crafting-background);
	border: 4px solid var(--crafting-background);
}

.inventory {
	display: flex;
	flex-wrap: wrap;
}
