.item {
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #121212;
	padding-inline-start: 8px;
	border-radius: 4px;
	box-shadow: 0.3px 0.5px 0.7px hsl(var(#121212) / 0.34),
		0.4px 0.8px 1px -1.2px hsl(var(#121212) / 0.34),
		1px 2px 2.5px -2.5px hsl(var(#121212) / 0.34);
}
