.box {
	width: 100px;
	height: 100px;
	text-align: center;
	display: grid;
	place-items: center;
	background-color: var(--crafting-box);
	box-shadow: inset 2px 2px 1px 1px var(--crafting-background-shadow), inset -2px -2px 1px 1px white;
	color: white;
	flex-shrink: 0;
}
