.container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.buttonContainer {
	display: flex;
	gap: 12px;
}

.display {
	min-width: 32px;
	width: min-content;
	min-height: 30px;
	text-align: center;
	display: flex;
	align-items: center;
}

.buttonContainer .display {
	justify-content: center;
}
