.input {
	background-color: transparent;
	border: 1px solid #1d283a;
	border-radius: 4px;
	padding-inline-start: 8px;
	padding-block: 6px;
	color: white;
}

.input:focus-visible {
	outline: 1px solid #1d283a;
	outline-offset: 1px;
}
